body {
    font-family: 'Times New Roman', Times, serif;
    background: #f8f5ee;
    margin: 0;
}
.marksheet-container {
    background: #fff;
    margin: 30px auto;
    max-width: 960px;
    padding: 24px 24px 20px 24px;
    border: 2px solid #e0934f;
}
.img{
    width: 200px;
    height: 200px;
    /* object-fit: ; */
    border: 2px solid#ef8600;
    
    

    
}
.header-top {
    text-align: center;
    font-size: 18px;
    color: #d27226;
    margin-bottom: 7px;
}
.title {
    font-size: 21px;
    color: #ef8600;
    font-weight: bold;
    margin-bottom: 5px;
}
.details-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 15px;
}
.student-info {
    margin-left: 25px;
    margin-right: 25px;
    min-width: 180px;
}
.education-details {
    font-size: 16px;
    margin-bottom: 14px;
    margin-top: 7px;
    text-align: left;
}
.educationdetails1{
      font-size: 16px;
    margin-bottom: 14px;
    margin-top: 8px;
    text-align: right;
}
.Discipline{
      font-size: 16px;
    margin-bottom: 14px;
    margin-top: 8px;
    text-align: left;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 18px;
}
th, td {
    border: 1px solid #be8433;
    padding: 7px 7px;
    text-align: left;
    font-size: 14px;
}
th {
    background-color: #f9e9c6;
    color: #ac6b0c;
}
.summary-row {
    font-size: 15px;
    margin-bottom: 5px;
}
.summary-footer {
    font-size: 15px;
    padding-bottom: 10px;
}
.sign-row {
    text-align: right;
    font-size: 17px;
    margin-top: 20px;
    color: #6c4a18;
}
hr {
    border: 0.5px solid #c8b182;
}
